# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        #ruby-version: ['2.6', '2.7', '3.0']
        ruby-version: ['3.0']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
         ruby-version: ${{ matrix.ruby-version }}
         
      - name: Run tests
        run: ruby GenricTestFile.rb
          
      - name: Run a one-line script
        run: echo Hello, world!

          # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo $GITHUB_REF
          echo $PULL_REQUEST
        env:
          PULL_REQUEST: ${{ github.head_ref }}

      # Runs commands to get environment
      - name: get working directory
        run: sh -c "echo Hi there"
